Ex3/Ex3.dtd

<!ELEMENT activitats (activitat+)>

<!ELEMENT activitat (nom, monitor, horari?, participant+, lloc)>

<!ATTLIST activitat
    codi  CDATA  #REQUIRED
    tipus (esportiva | artistica) #REQUIRED
>

<!ELEMENT nom(#PCDATA)>
<!ELEMENT monitor(#PCDATA)>
<!ELEMENT horari(#PCDATA)>
<!ELEMENT participant(#PCDATA)>

<!ELEMENT lloc (interior | exterior)>
<!ELEMENT interior (#PCDATA)>
<!ELEMENT exterior (#PCDATA)>